.card {
  border-radius: 40px;
  background-color: var(--card-background-color);
  display: grid;
  grid-template-areas: "CardHeader" "CardContent" "CardFooter";
  grid-template-rows: 0.5fr 5fr 1fr;
  grid-template-columns: auto;
  box-sizing: content-box;
  overflow: hidden;

  .card-header {
    grid-area: CardHeader;
    padding: 20px 30px;
    background-color: var(--card-header-background-color);
  }

  .card-content {
    grid-area: CardContent;
    padding: 0 30px;
  }

  .card-footer {
    grid-area: CardFooter;
    padding: 0px 30px 10px 30px;
    text-align: right;

    button {
      border-radius: 50px;
      background-color: transparent;
      color: var(--button-color);
      // padding: 2px;
      border-radius: 20px;
      border-color: var(--search-button-border-color);
      border-style: solid;
    }
  }
}
