.loading-card {
  &.main {
    height: 300px;
    width: 250px;
    border-radius: 20px;

    .card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    .loading-text {
      background-color: var(--primary-text-color);
      border-radius: 10px;
      opacity: 50%;

      &.top {
        height: 32px;
        width: 100%;
        font-size: 3rem;
      }

      &.content {
        height: 75px;
        width: 50%;
      }

      &.bottom {
        height: 20px;
        width: 80%;
      }
    }
  }

  &.sub {
    width: 100px;
    height: 150px;
    border-radius: 20px;
  }
}
