$primaryBackgroundColor: #c6e7ff;
$secondaryBackgroundColor: #d4f6ff;
$secondaryTextColor: #fbfbfb;
$primaryTextColor: #ffddae;

$primaryColor: #89cff3;
$secondaryColor: #a0e9ff;
$accentColor: #cdf5fd;
$neutralColor: #00a9ff;

//night
// 0F0E0E
// 541212
// 468A9A
// EEEEEE
$nightPrimaryColor: #0f0e0e;
$nightSecondaryColor: #541212;
$nightAccentColor: #468a9a;
$nightNeutralColor: #eeeeee;

//rain
// 77BEF0
// FFCB61
// FF894F
// EA5B6F

// 134686
// ED3F27
// FEB21A
// FDF4E3

// #E2B493
// #D8D297
// #AFCFDA
// #8C7B73

// 6d7178
// 7d8287
// a4bec3
// 7d9fb0

$rainPrimaryColor: #7d9fb0;
$rainSecondaryColor: #a4bec3;
$rainAccentColor: #7d8287;
$rainNeutralColor: #6d7178;

// cloudy
// 9FB3DF
// 9EC6F3
// BDDDE4
// FFF1D5
$cloudyPrimaryColor: #f2efe5;
$cloudySecondaryColor: #e3e1d9;
$cloudyAccentColor: #c7c8cc;
$cloudyNeutralColor: #b4b4b8;

// f1efec
// d4c9be
// 123458
// 030303

// c6e7ff
// d4f6ff
// fbfbfb
// ffddae

// 4ED7F1
// 6FE6FC
// A8F1FF
// FFFA8D

// 00A9FF
// 89CFF3
// A0E9FF
// CDF5FD

.default {
  --main-background-color: #{$neutralColor};
  --card-background-color: #{$primaryColor};
  --card-header-background-color: #{$secondaryColor};
  --card-header-secondary-background-color: #{$accentColor};
  --card-header-secondary-text-color: #{$neutralColor};
  --primary-text-color: #{$accentColor};
  --secondary-text-color: #{$secondaryColor};
  --search-input-background-color: #{$accentColor};
  --search-button-background-color: #{$secondaryColor};
  --search-button-background-color-hover: #{$accentColor};
  --search-button-text-color: #{$neutralColor};
  --search-button-border-color: #{$secondaryColor};
  --button-color: #{$secondaryColor};
  --button-color-hover: #{$primaryColor};
}

.night {
  --main-background-color: #{$nightNeutralColor};
  --card-background-color: #{$nightPrimaryColor};
  --card-header-background-color: #{$nightSecondaryColor};
  --card-header-secondary-background-color: #{$nightAccentColor};
  --card-header-secondary-text-color: #{$nightNeutralColor};
  --primary-text-color: #{$nightAccentColor};
  --secondary-text-color: #{$nightSecondaryColor};
  --search-input-background-color: #{$nightAccentColor};
  --search-button-background-color: #{$nightSecondaryColor};
  --search-button-background-color-hover: #{$nightAccentColor};
  --search-button-text-color: #{$nightNeutralColor};
  --search-button-border-color: #{$nightSecondaryColor};
  --button-color: #{$nightSecondaryColor};
  --button-color-hover: #{$nightPrimaryColor};
}

.cloudy {
  --main-background-color: #{$cloudyNeutralColor};
  --card-background-color: #{$cloudyPrimaryColor};
  --card-header-background-color: #{$cloudySecondaryColor};
  --card-header-secondary-background-color: #{$cloudyAccentColor};
  --card-header-secondary-text-color: #{$cloudyNeutralColor};
  --primary-text-color: #{$cloudyAccentColor};
  --secondary-text-color: #{$cloudySecondaryColor};
  --search-input-background-color: #{$cloudyAccentColor};
  --search-button-background-color: #{$cloudySecondaryColor};
  --search-button-background-color-hover: #{$cloudyAccentColor};
  --search-button-text-color: #{$cloudyNeutralColor};
  --search-button-border-color: #{$cloudySecondaryColor};
  --button-color: #{$cloudySecondaryColor};
  --button-color-hover: #{$cloudyPrimaryColor};
}

.rain {
  --main-background-color: #{$rainNeutralColor};
  --card-background-color: #{$rainPrimaryColor};
  --card-header-background-color: #{$rainSecondaryColor};
  --card-header-secondary-background-color: #{$rainAccentColor};
  --card-header-secondary-text-color: #{$rainNeutralColor};
  --primary-text-color: #{$rainAccentColor};
  --secondary-text-color: #{$rainSecondaryColor};
  --search-input-background-color: #{$rainAccentColor};
  --search-button-background-color: #{$rainSecondaryColor};
  --search-button-background-color-hover: #{$rainAccentColor};
  --search-button-text-color: #{$rainNeutralColor};
  --search-button-border-color: #{$rainSecondaryColor};
  --button-color: #{$rainSecondaryColor};
  --button-color-hover: #{$rainPrimaryColor};
}
