$primaryBackgroundColor: #c6e7ff;
$secondaryBackgroundColor: #d4f6ff;
$secondaryTextColor: #fbfbfb;
$primaryTextColor: #ffddae;

$primaryColor: #89cff3;
$secondaryColor: #a0e9ff;
$accentColor: #cdf5fd;
$neutralColor: #00a9ff;

// c6e7ff
// d4f6ff
// fbfbfb
// ffddae

// 4ED7F1
// 6FE6FC
// A8F1FF
// FFFA8D

// 00A9FF
// 89CFF3
// A0E9FF
// CDF5FD

:root {
  --main-background-color: #{$neutralColor};
  --card-background-color: #{$primaryColor};
  --card-header-background-color: #{$secondaryColor};
  --primary-text-color: #{$accentColor};
  --secondary-text-color: #{$secondaryColor};
  --search-input-background-color: #{$accentColor};
  --search-button-background-color: #{$secondaryColor};
  --search-button-background-color-hover: #{$accentColor};
  --search-button-text-color: #{$neutralColor};
  --search-button-border-color: #{$secondaryColor};
  --button-color: #{$secondaryColor};
  --button-color-hover: #{$primaryColor};
}
