$primaryBackgroundColor: #c6e7ff;
$secondaryBackgroundColor: #d4f6ff;
$secondaryTextColor: #fbfbfb;
$primaryTextColor: #ffddae;

$primaryColor: #89cff3;
$secondaryColor: #a0e9ff;
$accentColor: #cdf5fd;
$neutralColor: #00a9ff;

//night
// 0F0E0E
// 541212
// 468A9A
// EEEEEE
$nightPrimaryColor: #0f0e0e;
$nightSecondaryColor: #541212;
$nightAccentColor: #468a9a;
$nightNeutralColor: #eeeeee;

//rain
// 77BEF0
// FFCB61
// FF894F
// EA5B6F
$rainPrimaryColor: #77bef0;
$rainSecondaryColor: #ffcb61;
$rainAccentColor: #ff894f;
$rainNeutralColor: #ea5b6f;

// cloudy
// 9FB3DF
// 9EC6F3
// BDDDE4
// FFF1D5
$cloudyPrimaryColor: #f2efe5;
$cloudySecondaryColor: #e3e1d9;
$cloudyAccentColor: #c7c8cc;
$cloudyNeutralColor: #b4b4b8;

// f1efec
// d4c9be
// 123458
// 030303

// c6e7ff
// d4f6ff
// fbfbfb
// ffddae

// 4ED7F1
// 6FE6FC
// A8F1FF
// FFFA8D

// 00A9FF
// 89CFF3
// A0E9FF
// CDF5FD

.root {
  --main-background-color: #{$neutralColor};
  --card-background-color: #{$primaryColor};
  --card-header-background-color: #{$secondaryColor};
  --card-header-secondary-background-color: #{$accentColor};
  --card-header-secondary-text-color: #{$neutralColor};
  --primary-text-color: #{$accentColor};
  --secondary-text-color: #{$secondaryColor};
  --search-input-background-color: #{$accentColor};
  --search-button-background-color: #{$secondaryColor};
  --search-button-background-color-hover: #{$accentColor};
  --search-button-text-color: #{$neutralColor};
  --search-button-border-color: #{$secondaryColor};
  --button-color: #{$secondaryColor};
  --button-color-hover: #{$primaryColor};
}

.cloudy {
  --main-background-color: #{$cloudyNeutralColor};
  --card-background-color: #{$cloudyPrimaryColor};
  --card-header-background-color: #{$cloudySecondaryColor};
  --card-header-secondary-background-color: #{$cloudyAccentColor};
  --card-header-secondary-text-color: #{$cloudyNeutralColor};
  --primary-text-color: #{$cloudyAccentColor};
  --secondary-text-color: #{$cloudySecondaryColor};
  --search-input-background-color: #{$cloudyAccentColor};
  --search-button-background-color: #{$cloudySecondaryColor};
  --search-button-background-color-hover: #{$cloudyAccentColor};
  --search-button-text-color: #{$cloudyNeutralColor};
  --search-button-border-color: #{$cloudySecondaryColor};
  --button-color: #{$cloudySecondaryColor};
  --button-color-hover: #{$cloudyPrimaryColor};
}
