.weather-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1;
  text-align: center;

  .location {
    font-size: 3rem;
  }

  .temp {
    font-size: 8rem;
    sup {
      font-size: 2rem;
    }
  }

  .condition-text {
    font-size: 1.2rem;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 768px) {
  .main-weather-card.card {
    height: 200px;
    max-width: 250px;
    width: 100%;
    grid-template-rows: 0.5fr 5fr 0.5fr;
    border-radius: 20px;

    .card-content {
      padding: 0 10px;
    }
  }
  .weather-block {
    .location {
      font-size: 2rem;
    }

    .temp {
      font-size: 4.5rem;
      sup {
        font-size: 1rem;
      }
    }
  }
}
