.search {
  display: flex;
  justify-content: center;

  form {
    width: 100%;
    display: flex;
    justify-content: center;

    .search-list {
      // display: none;
      max-width: 350px;
      width: 90%;
      min-height: 120px;
      position: absolute;
      margin-top: 45px;
      border-radius: 20px;
      overflow: hidden;
      background-color: var(--search-input-background-color);
      border-color: var(--search-button-border-color);

      .search-list-item {
        padding: 5px 15px;
        color: var(--search-button-text-color);
        font-size: 1.2rem;

        &:hover {
          background-color: var(--search-button-background-color);
          color: var(--search-input-background-color);
        }
      }
    }
  }
  input {
    max-width: 200px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: solid;
    border-right: none;
    padding: 5px 15px;
    background-color: var(--search-input-background-color);
    border-color: var(--search-button-border-color);
  }
  input:focus,
  input:active {
    // border: none;
    outline: none;
  }
  button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    // padding: 5px 10px 15px;
    padding: 5px 15px 5px 10px;
    background-color: var(--search-button-background-color);
    color: var(--search-button-text-color);
    border-color: var(--search-button-border-color);
    border-style: solid;
  }

  button:hover {
    background-color: var(--search-button-background-color-hover);
  }
}
