.sub-container {
  // width: 100dvw;
  overflow: auto;
  scroll-behavior: smooth;

  .sub-weather-container {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    overflow: visible;

    .min-card {
      width: 100px;
      height: 150px;
      border-radius: 20px;

      &.highlight {
        width: 150px;
        height: 200px;
        border-radius: 35px;
        background-color: var(--card-header-secondary-background-color);
        color: var(--card-header-secondary-text-color);
        font-size: 1.5rem;
        .card-content {
          gap: 5px;
          .sub-weather-image {
            height: 50px;
            width: 50px;
          }
        }
      }

      .card-content {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .sub-weather-image {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}

.sub-weather-button-container {
  width: 100%;
  // position: absolute;
  padding-top: 20px;
  text-align: center;

  .sub-weather-button-block {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .sub-container {
    .sub-weather-container {
      .min-card {
        width: 80px;
        height: 120px;

        &.highlight {
          width: 100px;
          height: 150px;
          border-radius: 25px;
        }

        .card-content {
          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
